/**
 * Created by danielslaby on 14/03/16.
 */

#login-modal {

  $selectedTabUnderscoreColor: gray;
  $selectedTabTextColor: black;

  min-width: 320px;

  md-tabs {
    md-tab-item {
      span {
        // header text color
        //color: inherit;
      }
      &.md-active {
        color: $selectedTabTextColor !important;
      }

    }
    // Underscore of selected tab
    md-ink-bar {
      background-color: $selectedTabUnderscoreColor;
    }

    md-tab-content {
      height: 100%;
      form {
        md-input-container:last-child {
          margin-bottom: 0px;
        }
      }
      .loginButtonsMargins {
        margin-top: 0px;
        button {
          width: 100% !important;
          padding: 3px;
        }
        @media(max-width: $md) {
          button:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}