#comments-modal {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .align-center{
    text-align: center;
  }
  .bolded-text{
    font-weight: bold;
  }
  .modal-container{
    margin: 10px;
  }
  .text-area{
    padding-top: 10px;

  }


}