.no-background {
  background: none;
}

latest-events-table {
  .parallax-image-container {
    background: url("../resources/parallax_images/parallax2-blur.jpg") 50% no-repeat fixed;
    background-size: cover;
    latest-events-table md-content {
      margin-top: 20px;
    }
    div {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .home-page-title {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .avatar {
    height: 32px;
    width: 32px;
  }
  .table-with-x-overflow {
    overflow-x: auto;
    padding-top: 10px;
  }

  .overflow-description {
    overflow-y: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-height: 23px;
    margin-top: 9px;
    z-index: 1;
  }
}