latest-events-table{
	md-content{
		md-list{
			md-list-item{
				.no-margin-top-bottom{
					padding-top: 0px;
					padding-bottom: 0px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
}