<md-card>
	<md-card-content>
		<div layout="row" flex="100">
			<div layout="row" flex="40">
				<md-input-container class="md-block" flex="100">
				  <label>O użytkowniku</label>
				  <textarea ng-readonly="true" ng-model="userPageCtrl.user.description" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
				</md-input-container>
			</div>
			<span flex/>
			<div layout="column" flex="40">
				<p flex="100" class="smaller-margin">Użytkownik od {{userPageCtrl.user.accountCreated}}r</p>
				<p flex="100" class="smaller-margin">Ostatnio zalogowany {{userPageCtrl.user.lastSeen}}r</p>
				<p flex="100" class="smaller-margin" ng-if="userPageCtrl.user.age !=''">Wiek: {{userPageCtrl.user.age}}</p>
				<p flex="100" class="smaller-margin" ng-if="userPageCtrl.user.city !=''">Miasto: {{userPageCtrl.user.city}}</p>
			</div>
		</div>
	</md-card-content>
</md-card>