$darker-color: #e6e6e6;

//Screen break points
$md: 960px;
$lg: 1280px;
$xl: 1920px;
$sm: 600px;



#prefooter{
	div{
		height: 180px;
		padding-bottom: 5px;
		.block-of-ads{
			background-color: $darker-color;
			padding-top: 5px;
		}
	}
	.parallax-image-container {
		background: url("../resources/parallax_images/parallax2-blur.jpg") 50% no-repeat fixed;
		padding: 50px 0 0 0;
		background-size: cover;
	}
	.min-height-set{
		min-height: 100px;
	}
	@media screen and (min-width: $sm) {
		.min-height-set{
			min-height: 300px;
		}
	}
  
}