<div class="container">
    <div class="row">
        <div class="register-header">
            <b>Zarejestruj się już dziś w naszym serwisie!</b>
        </div>
        <div class="col-xs-8">
            <div class="register-image">
                <img class="login-logo" data-ng-src="resources/register-placeholder.jpg">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="register-frame">
                    <form ng-submit="register()">
                        <h3>Rejestracja</h3>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Imię" ng-model="user.name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nazwisko" ng-model="user.surname">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Login" ng-model="user.login">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Hasło" ng-model="user.password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Powtórz hasło" ng-model="user.retypedPassword">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg gradient">Zarejestruj</button>
                    </form>
                    <h4>Co daje zarejestrowanie się:</h4><br>
                        - możliwość zapisywania się do wydarzeń,<br>
                        - tworzenie własnych,<br>
                        - radość i błogość!<br>
                        - nieskończone propsy.<br>
            </div>
        </div>
    </div>
</div>