<div class="row">
    <div class="col-lg-12">
        <h1>Zarządzanie Użytkownikami</h1>
    </div>
</div>
<div class="row">
    <!--<button class="btn btn-default" ng-click="open()">MODAL</button>-->
    <table class="table">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Edycja
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in allUsers">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.login}}</td>
            <td>
                <button class="btn btn-default" data-ng-click="open(user)">edycja</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>