<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">×</button>
    <h4 class="modal-title">Edytuj użytkownika</h4>
</div>
<div class="modal-body">
    <p>{{user}}</p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">Zatwierdź</button>
        </div>
        <div class="col-lg-offset-8 col-lg-2 ">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">Zamknij</button>
        </div>
    </div>
</div>