result-panel {
  .modeSwitchHolder {
    z-index: 1;
    position: absolute;
    left: 0px;
    padding: 10px 10px;

    div {
      cursor: pointer;
      &:first-child {
        margin-right: 10px;
      }
    }
    .active {
      md-icon {
        box-shadow: 9px 13px 36px -6px rgba(0, 0, 0, 0.75);
        svg {
          fill: rgba(68, 197, 222, 0.95);
        }
      }
    }
  }
  .noResults {
    position: relative;
    margin-top: 40px;
    .noResultsText {
      text-transform: uppercase;
      font-size: 45px;
      color: #ADADAD;
    }
    .noResultsIcon {

      position: absolute;
      left: calc(50% - 60px);
      top: calc(50% + 45px);
      width: 120px;
      height: 120px;
      svg {
        fill: #ADADAD;
      }
    }
  }
  .resultContentHolder {
    //background-image: url("../resources/background/triangles.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    padding-top: 45px;
    .result {
      transition: box-shadow 0.2s linear;
      &:active {
        box-shadow: 6px 9px 21px 1px rgba(0, 0, 0, 0.75);
      }
    }
    .rowsResultsHolder {
      .rowResult {
        .headerResultRow {
          height: 45px;
          position: relative;
          .resultSportIcon {
            position: absolute;
            margin: 0px;
            left: 10px;
            width: 35px;
            height: 35px;
          }
        }

      }

    }
    .gridResult {
      height: 100px;
      sport-icons {
        .resultSportIcon {
          height: 35px;
          width: 35px;
        }
      }
    }

  }
  .leftMenu {
    width: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    .active {

    }
    .leftMenuItem {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      transition: 0.25s background-color linear;
      cursor: pointer;
      &.active {
        background-color: rgba(45, 45, 45, 0.14);
      }

    }
  }
  .resultListHolder {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 30px !important;
    .resultListItem {
      cursor: pointer;
      padding: 10px !important;
      border: 1px solid transparent;
      height: 100px;
      transition: 0.2s border linear, 0.2s box-shadow linear;
      &:hover {
        border-color: #ccc;
      }
      &:active {
        box-shadow: 0px 0px 39px 3px rgba(0, 0, 0, 0.31);
      }

      .eventImage {
        width: 80px;
        height: 80px;
        @media(max-width: 400px) {
          width: 50px;
          height: 50px;
        }
      }

      .content {
        .header {
          @media (max-width: 430px) {
            max-width: 125px !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }

  .resultPanelContentHolder {
    height: 100%;
  }
  .resultPanelBody {
    overflow: auto;
    width: 100%;
  }

  .gridResultsHolder {
    margin: 30px;
    margin-top: 0px;
    .gridListItemHolder {
      border: 5px solid white;
      height: 120px;
      .gridListItemBody {
        height: 100%;
        width: 100%;
        transition: 0.2s box-shadow linear, 0.2s transform linear;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        &:hover {
          box-shadow: 1px 6px 39px -5px rgba(0, 0, 0, 0.75);
          transform: scale(1.03);
        }
        &:active {
          transform: scale(1.05);
        }
        .gridItemStatusBox {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 60px;
          width: 100%;
          margin-bottom: 10px;
          .gridItemDistance {
            min-width: 40px;
            margin-left: 10px;
            margin-right: 10px;
          }
          sport-icons {
            height: 20px;
            width: 20px;
          }
        }
        .gridItemRest {
          display: flex;
          height: 100% !important;

          .imageHolder {
            flex-shrink: 100;
            min-width: 75px;
            display: block;
          }

          @media (max-width: 630px) {
            .imageHolder {
              min-width: 50px;
            }
          }
          @media (max-width: 570px) {
            text-align: center;
            padding-bottom: 14px;
            .imageHolder {
              display: none;
            }
          }

        }
        .imageHolder {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          margin-right: 10px;
          .eventImage {
            height: 50px;
            width: 50px;
          }
        }
        width: 100%;
        .infoHolder {
          width: 100%;
          span {
            text-overflow: ellipsis;
            min-width: 65px;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }

}

