result-panel {
  .modeSwitchHolder {
    z-index: 1;
    position: absolute;
    left: 0px;
    padding: 10px 10px;

    div {
      cursor: pointer;
      &:first-child {
        margin-right: 10px;
      }
    }
    .active {
      md-icon {
        box-shadow: 9px 13px 36px -6px rgba(0, 0, 0, 0.75);
        svg {
          fill: rgba(68, 197, 222, 0.95);
        }
      }
    }
  }
  .noResults {
    position: relative;
    margin-top: 40px;
    .noResultsText {
      text-transform: uppercase;
      font-size: 45px;
      color: #ADADAD;
    }
    .noResultsIcon {

      position: absolute;
      left: calc(50% - 60px);
      top: calc(50% + 45px);
      width: 120px;
      height: 120px;
      svg {
        fill: #ADADAD;
      }
    }
  }
  .resultContentHolder {
    //background-image: url("../resources/background/triangles.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    padding-top: 45px;
    .result {
      transition: box-shadow 0.2s linear;
      &:active {
        box-shadow: 6px 9px 21px 1px rgba(0, 0, 0, 0.75);
      }
    }
    .rowsResultsHolder {
      .rowResult {
        .headerResultRow {
          height: 45px;
          position: relative;
          .resultSportIcon {
            position: absolute;
            margin: 0px;
            left: 10px;
            width: 35px;
            height: 35px;
          }
        }

      }

    }
    .gridResult {
      height: 100px;
      sport-icons {
        .resultSportIcon {
          height: 35px;
          width: 35px;
        }
      }
    }

  }
  .leftMenu {
    width: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    .active {

    }
    .leftMenuItem {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      transition: 0.25s background-color linear;
      cursor: pointer;
      &.active {
        background-color: rgba(45, 45, 45, 0.14);
      }

    }
  }
  .resultListHolder {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 30px !important;
    .resultListItem {
      padding: 10px !important;
      border: 1px solid transparent;
      height: 100px;
      transition: 0.2s border linear;
      &:hover {
        border-color: #ccc;
      }

      .eventImage {
        width: 80px;
        height: 80px;
      }

      .content {
        .header {
          @media (max-width: 430px) {
            max-width: 125px !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }

  .resultPanelContentHolder {
    height: 100%;
  }
  .resultPanelBody {
    overflow: auto;
    width: 100%;
  }

}

