/**
 * Created by danielslaby on 12/03/16.
 */


//Screen break points
$md: 960px;
$lg: 1280px;
$xl: 1920px;
$sm: 600px;

body {

}

.parallax-height{
		height: 150px;
	}

@media screen and (min-width: $sm) {
    .parallax-height{
		height: 250px;
	}
}
