#query-questionary {
	padding-top: 20px;
	.align-text-center  {text-align: center;}
	.no-margin-bottom  {margin-bottom: 0px;}
	.date-picker-height  {height: 80px;}
	.md-datepicker-input-container{
		margin-left: 0px;
		max-width: 84px;
	}
	button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple{
		margin-left: 0px;
		margin-right: 0px;
	}
	.select-input-padding{
		padding-right: 15px;
		margin-top: 0px;
	}
}
