<div id="event_search">
    <div class="map"></div>
    <!--<pre>-->
    <!--{{eventSearchCtrl.UserService.user | json}}-->
    <!--</pre>-->
    Query
    <input ng-model-options="{ updateOn: 'blur' }" ng-model="eventSearchCtrl.queryString"
           ng-change="eventSearchCtrl.changeOfQueryString()" type="text"/>
    <md-list>
        <md-list-item ng-click="eventSearchCtrl.handleResultClick(item)"
                      ng-repeat="item in eventSearchCtrl.resultList">
            <div layout="column">
                <md-card>
                    <md-card-content>
                        <p>
                            {{item.description}}
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </md-list-item>
    </md-list>
</div>

