html {
    /*word-break: normal;*/
}

body {
    overflow-x: hidden;
}

.main {
    width: 100vw;
    min-height: 100vh;
}

.app-form-error-text {
    color: red;
}

.app-main-header {
    width: 100vw;
    height: 8vh;
    max-height: 80px;
    min-height: 20px;
    background-color: #f7e1b5;

}

.header-introduction-part {
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    font-size: 1vw;
    background-color: #f7e1b5;
    text-align: center;

}

.header-form-part {
    font-size: 1vw;
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    text-align: right;

}

.header-navigation-part {
    background-color: #222222;
    color: white;
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    font-size: 1vw;

}

.header-content {
    margin-top: 2vh;
}

.header-navigation-content {
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.dropbtn {
    background-color: #222222;
    color: white;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    width: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #353535;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: inherit;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #222222
}

/* Show the dropdown menu on hover */
.header-navigation-content:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.header-navigation-content:hover .dropbtn {
    background-color: #353535;
}

/*********MODALS*********/
.modal-choice {
    text-align: center;
    height: inherit;
    font-size: 23px;
    padding: 10px;
    position: relative;
    color: black;
}

@media (max-width: 480px) {
    .modal-choice {
        font-size: 15px;
    }
}

.modal-choice-left-unselected {
    background-color: #a89879;
    border-right-style: solid;
    border-right-color: #6B604F;
    border-bottom-style: groove;
    border-bottom-color: #6B604F;
}

.modal-choice-right-unselected {
    background-color: #a89879;
    border-left-style: solid;
    border-left-color: #6B604F;
    border-bottom-style: groove;
    border-bottom-color: #6B604F;
}

.modal-choice-left-selected {
    background-color: #f7e1b5;
    border-right-style: none;
    border-right-color: #6B604F;
    border-bottom-style: none;
    border-bottom-color: #6B604F;
}

.modal-choice-right-selected {
    background-color: #f7e1b5;
    border-left-style: none;
    border-left-color: #6B604F;
    border-bottom-style: none;
    border-bottom-color: #6B604F;
}

.modal-choice a {
    color: inherit;
    text-decoration: none !important;
}

.modal-body-header {
    height: 50px;
}

.link-span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.inputs {
    max-width: 200px;
    max-height: 60px;
    border-radius: 0;
}

.modal-welcome-text {
    border-bottom-style: solid;
    border-bottom-color: orange;
}

.modal-feedback {
    text-align: center;
    border-top-color: orange;
    border-top-style: solid;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.loading {
    width: inherit;
    height: inherit;
    max-width: 70px;
    max-height: 70px;
}

.btn-primary.normal {
    height: 20px;
    text-align: center;
    margin: auto;
    font-size: 0.7em;
    line-height: 2px;
    vertical-align: middle;
    border-radius: 0;
    background-color: #e7b320;
    padding-bottom: 10px;
}

.btn-primary.normal:hover, .btn-primary.normal:focus, .btn-primary.normal:active, .btn-primary.normal.active, .open > .dropdown-toggle.btn-primary {
    height: 20px;
    text-align: center;
    margin: auto;
    font-size: 0.7em;
    vertical-align: middle;
    border-radius: 0;
    line-height: 2px;
    background-color: #f1bd20;
    padding-bottom: 10px;
}

.btn-primary.normal:active, .btn-primary.normal.active {
    height: 20px;
    text-align: center;
    margin: auto;
    font-size: 0.7em;
    vertical-align: middle;
    border-radius: 0;
    background-color: #c0921b;
    line-height: 2px;
}
