/* Extra Small */
.ui.xsmall.modal > .header:not(.ui) {
  font-size: 1.3em;
}

/* Extra Small Modal Width */
@media only screen and (max-width: 480px) {
  .ui.xsmall.modal {
    width: 70%;
    margin: 0em 0em 0em -36.6%;
  }
}

@media only screen and (min-width: 480px) {
  .ui.xsmall.modal {
    width: 50%;
    margin: 0em 0em 0em -27.6%;
  }
}

@media only screen and (min-width: 992px) {
  .ui.xsmall.modal {
    width: 340px;
    margin: 0em 0em 0em -170px;
  }
}

@media only screen and (min-width: 1200px) {
  .ui.xsmall.modal {
    width: 360px;
    margin: 0em 0em 0em -180px;
  }
}

@media only screen and (min-width: 1920px) {
  .ui.xsmall.modal {
    width: 380px;
    margin: 0em 0em 0em -190px;
  }
}




#icon-choice {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .md-background {
    border-radius: inherit;
  }
  .md-content {
    min-height: 50px;
    height: auto;
    max-height: none;
    font-size: 14px;
    width: 170px;
    max-width: none;
    padding: 0;
    white-space: initial;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .modal-container{
    margin: 10px;
  }
  .tile-content{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .iconList-button{
    height: 36px;
    width: auto;
    min-width: 36px;
    padding: 0;
    margin: 0;
    border-width : 1px;
  }
  .event-icon{
    width:  36px;
    height: 36px;
  }

}