<div id="event-participants-list">
    <div class="user-list-intro">Uczestnicy wydarzenia:</div>
    <md-content layout-padding>
        <md-grid-list
                md-cols-gt-md="8" md-cols="8" md-cols-md="8"
                md-row-height-gt-md="100px" md-row-height="100px"
                md-gutter-gt-md="20px" md-gutter-md="20px" md-gutter="20px">
            <md-grid-tile
                    ng-repeat="participant in eventParticipantsListCtrl.participants"
                    md-colspan-gt-sm="1"
                    md-rowspan-gt-sm="1">
                <md-content class="transparent-background">
                    <md-button aria-label="tooltipButton" flex="100"  flex-gt-md="auto" class="transparent-background" ng-click="eventParticipantsListCtrl.showToolTip(participant)"/>
                    <md-tooltip class="user-tooltip" md-visible="participant.wasClicked" ng-if="participant.wasClicked" md-direction="top">
                        <md-button>LOL</md-button><br>
                        Id kliknietego uzytkownika: {{participant.id}}<br>
                        Lol2<br>
                    </md-tooltip>
                </md-content>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>