md-tooltip.user-tooltip {
	$profileHeight: 100px;
	$top: -70px;

	.imageHolder{
		height: 100px;
		width: 100%;
		background: rgba(0, 0, 0, 0.63) no-repeat fixed 50% 50%, 0 0;
		background-position: center;
		background-color: rgba(0, 0, 0, 0.63);
		background-size:cover;
	}
	.profileImgHolder {
		left: -220px;
		position: relative;
		top: $top;

	}
	.profileImg {
		height: 64px;
		width: 64px;
		box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.75);
		transform: rotate(-5deg);
		border-radius: 50%;
		max-height: $profileHeight;
		padding: 5px;
		background-color: white;
		border: 1px solid #B3B3B3;
	}

	font-family: Roboto, 'Helvetica Neue', sans-serif;
	.md-background {
		border-radius: inherit;
	}
	.md-content {
		min-height: 200px;
		height: 200px;
		max-height: 200px;
		font-size: 14px;
		width: 300px;
		max-width: 300px;
		padding: 0;
		white-space: initial;
	}
	.deeper-content{
		padding: 8px;
		top: $top - 30px;
		position: relative;
	}
	.name{
		position: relative;
		top: $top - 30px;
		left: 100px;
	}
	.icon{
		width: 16px;
		height: 16px;
	}
}

.no-text-transformation {
	text-transform: none !important;
	font-weight: bold !important;
}


#event-participants-list{
	.transparent-background  {background-color: transparent;  }


	.user-list-intro  {text-align: center;}
	md-content{
		md-grid-list{
			md-grid-tile{
				border-bottom-left-radius : 20px;
				border-bottom-right-radius : 20px;
				border-top-left-radius : 20px;

				.tile-button{
					height: 100%;
					width: 100%;
					margin: 0;
					padding: 0;

				}
				.tile-content{
					height: 100%;
					width: 100%;
					overflow-x: auto;
				}
				.user-info  {
					height: 25px;
					overflow: hidden;
				}
				background: #e6ffee;
				.avatar{
					width: 48px;
					height: 48px;
				}
			}

		}


	}

}