<div id="event-participants-list">
    <div class="user-list-intro">Uczestnicy wydarzenia:</div>
    <md-content layout-padding>
        <md-grid-list
                md-cols-gt-md="8" md-cols-gt-lg="14" md-cols-gt-xl="20" md-cols-md="6" md-cols-sm="4" md-cols-xs="2"
                md-row-height-gt-md="100px" md-row-height="100px"
                md-gutter-gt-md="20px" md-gutter-md="20px" md-gutter="20px">
            <md-grid-tile
                    ng-repeat="participant in eventParticipantsListCtrl.participants"
                    md-colspan-gt-sm="1"
                    md-rowspan-gt-sm="1">
                <md-content class="transparent-background tile-content">
                    <md-button aria-label="tooltipButton" flex="100"  flex-gt-md="auto" class="transparent-background tile-button" ng-click="eventParticipantsListCtrl.showToolTip(participant)">
                        <div layout="row">
                            <img ng-src="resources/pushpin.png" class="pushpin-icon" flex="33">
                            <img alt="User Image" ng-src="gallery/{{participant._id}}/avatar.jpg" err-SRC="gallery/default.jpg" class="avatar"/>
                            <div flex="33"/>
                        </div>

                        <div class="no-text-transformation user-info">{{participant.login}}</div>


                    </md-button>
                    <div class="close-ribbon">
                        <a ng-click="eventParticipantsListCtrl.test()">&times;</a>
                    </div>
                    <md-tooltip class="user-tooltip" md-visible="participant.wasClicked" ng-if="participant.wasClicked" md-direction="top">
                        <div ng-style="{'background-image':'url(gallery/' + participant._id + '/userImage.jpg)'}" class="imageHolder user-image"/>
                        <div layout="row" layout-align="end" class="profileImgHolder">
                            <img class="profileImg" ng-src="gallery/{{participant._id}}/avatar.jpg" err-SRC="gallery/default.jpg">
                        </div>
                        <div class="name">{{participant.settings.name}} {{participant.settings.surname}} ({{participant.login}})</div>
                        <div class="deeper-content">
                            <div flex/>
                            <div layout="row" layout-align="bottom right">
                                <md-button class="no-text-transformation" ng-click="eventParticipantsListCtrl.goToUserPage(participant)" flex="60">Przejdź do profilu</md-button>
                                <inline flex="40">
                                    <md-icon ng-repeat="i in eventParticipantsListCtrl.getNumber(eventParticipantsListCtrl.number)" md-svg-src="resources/gold-star.svg" class="svg-submissive icon"></md-icon>
                                    <md-icon ng-repeat="i in eventParticipantsListCtrl.getNumber(5 - eventParticipantsListCtrl.number)" md-svg-src="resources/white-star.svg" class="svg-submissive icon"></md-icon>
                                    Weteran
                                    <div>Ocena: 87/89</div>
                                </inline>
                            </div>
                        </div>


                    </md-tooltip>
                </md-content>

            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>