md-tooltip.user-tooltip {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	.md-background {
		border-radius: inherit;
	}
	.md-content {
		min-height: 250px;
		height: 250px;
		max-height: 250px;
		font-size: 14px;
		width: 300px;
		max-width: 300px;
		padding: 8px;
		white-space: initial;
	}
}



#event-participants-list{
	.transparent-background  {background-color: transparent;}
	.user-list-intro  {text-align: center;}
	md-content{
		md-grid-list{
			md-grid-tile{
				background: #e6ffee;
			}

		}


	}

}