<div flex layout="column" class="small-padding-top">
	<div layout="row" layout-align="center">
		<md-card flex="100" class="table-header">
			<md-content layout="row" layout-align="center center" class="no-overflow header-content">
					<p>Archiwalne wydarzenia:</p>
			</md-content>
		</md-card>
	</div>
	<div layout="row" layout-align="center center">	
		<div layout="column" layout-align="center" flex="100">	
			<md-content layout="column" layout-align="center">
				<md-table-container layout="row" layout-align="center" flex="100" class="table-with-x-overflow">
				  <table md-table md-progress="promise" cellspacing="0" cellpadding="0">
					<tbody md-body ng-click="archiveEventsTableCtrl.rowClicked(item.id)" md-select="item" md-select-id="name" md-auto-select ng-repeat="item in archiveEventsTableCtrl.events">
					  <tr md-row>
						<td md-cell class="cell-padding">{{item.city}}</td>
						<td md-cell class="cell-padding">{{item.category}}</td>
						<td md-cell class="cell-padding">{{item.date}}</td>
						<td md-cell class="cell-padding">{{item.participants}}/{{item.limit}}</td>

					  </tr>
					</tbody>
				  </table>
				</md-table-container>
			</md-content>
		</div>
	</div>
</div>