<div layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools no-padding-right">
            <span class="hover-effect" ng-click="headerCtrl.goToHome()">My App's Title</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
			
            <md-button ng-if="headerCtrl.UserService.hasRight(['guest'])" ng-click="headerCtrl.UserService.showLoginModal();" class="login-register-button">
                Logowanie/Rejestracja
            </md-button>
			
			<md-button ng-if="headerCtrl.UserService.hasRight(['user', 'admin'])" aria-label="Open demo menu" class="md-icon-button" ng-click="headerCtrl.goToProfile('mail')">
					<div class="overlay-text"><b>{{headerCtrl.messageCount}}</b></div>
					<md-icon md-svg-src="resources/mail.svg" class="svg-submissive"></md-icon>
			</md-button>
			
			<div ng-if="headerCtrl.UserService.hasRight(['user', 'admin'])" ng-click="headerCtrl.goToProfile('profile')" class="avatar-wrapper hover-effect">
				<img alt="User Image" ng-src="gallery/{{headerCtrl.userImage}}/avatar.jpg" onerror="this.src='gallery/default.jpg'" class="avatar"/>
			</div>
			
			<md-button ng-if="headerCtrl.UserService.hasRight(['user', 'admin'])" class="login-register-button" ng-click="headerCtrl.goToProfile('profile')">
                Witaj {{headerCtrl.UserService.user.login}}!
            </md-button>
			
            <md-menu md-position-mode="target-right target" md-offset="0 55" class="navigation-menu">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-src="resources/stack.svg"></md-icon>
                </md-button>
			
                <md-menu-content width="4">
                    <md-menu-item ng-if="headerCtrl.UserService.hasRight([item.visibility[0]])"
                                  ng-repeat="item in headerCtrl.options">
                        <md-button
                                ng-click="item.click()">
                            <div layout="row" layout-align="center center" class="menu-list-item">
                                {{item.placeholder}}
                                <!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</div>