<md-dialog id="login-modal" flex="50">
    <md-dialog-content>
        <!--TABS-->
        <!--LOGIN  TAB-->
        <md-tabs class="" md-stretch-tabs="always" md-dynamic-height layout-margin md-border-bottom md-swipe-content md-no-ink	>
            <md-tab label="Logowanie">
                <form novalidate layout="column">
                    <md-input-container>
                        <input type="text" autocomplete="off" placeholder="Login" ng-model="loginModalCtrl.user.login">
                    </md-input-container>
                    <md-input-container layout-fill>
                        <input type="password" placeholder="Hasło" ng-model="loginModalCtrl.user.password">
                    </md-input-container>
                </form>
                <div class="loginButtonsMargins" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-fill>
                    <md-button class="md-raised" flex-gt-sm="30" flex-sm="80" flex-xs="80">
                        Zaloguj
                    </md-button>
                    <md-button class="md-raised" ng-click="loginModalCtrl.closeModal()" flex-gt-sm="30" flex-sm="80" flex-xs="80">
                        Zamknij
                    </md-button>
                </div>
            </md-tab>
            <!--REGISTER TAB-->
            <md-tab label="Rejestracja">

            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
