<div class="modal-header nopadding">
    <div class="modal-body row nopadding modal-body-header">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 modal-choice modal-choice-left-unselected"
         ng-class="{'modal-choice-left-selected': !is_register_shown}">
            <a href ng-click="showLogin()"><span class="link-span"></span>Zaloguj się</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 modal-choice modal-choice-right-unselected"
         ng-class="{'modal-choice-right-selected': is_register_shown}">
            <a href ng-click="showRegister()"><span class="link-span"></span>Zarejestruj się</a>
        </div>
    </div>
</div>
<div class="modal-body">
    <div ng-show=!is_register_shown>
        <p class="modal-welcome-text">Witamy! Zaloguj się na swoje konto</p>
        <div class="row">
            <form name="formaLogowania" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-submit="loguj()" novalidate>
                <p><input type="text" name="login" id="login" class="form-control inputs" placeholder="Login" ng-model="userLogin.login" ng-required="true"></p>
                <p><input type="password" name="password" id="pwd" class="form-control inputs"  placeholder="Hasło" ng-model="userLogin.password" ng-required="true"></p>
                <p><button type="submit" class="btn btn-primary btn-lg normal"
                        ng-disabled="formaLogowania.login.$error.required ||
                        formaLogowania.password.$error.required"
                   >Zaloguj</button>
                </p>
            </form>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show=is_login_clicked>
                <img ng-src="resources/loading.gif" class="loading">
            </div>
        </div>
    </div>
    <div ng-show=is_register_shown>
        <p class="modal-welcome-text">Zarejestruj się, nowy użytkowniku</p>
        <div class="row">
            <form name="formaRejestracji" ng-submit="register()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" novalidate>
                <p><input type="text" name="name" class="form-control inputs" placeholder="Imię" ng-model="user.name" ng-required="true"></p>
                <p><input type="text" name="surname" class="form-control inputs" placeholder="Nazwisko" ng-model="user.surname" ng-required="true"></p>
                <p><input type="text" name="login" class="form-control inputs" placeholder="Login" ng-model="user.login" ng-required="true" ng-minlength="6"></p>
                <p><input type="password" name="password" class="form-control inputs" placeholder="Hasło" ng-model="user.password" ng-required="true" ng-minlength="6"></p>
                <p><input type="password" name="retypedPassword" class="form-control inputs" placeholder="Powtórz hasło" ng-model="user.retypedPassword" ng-required="true" ng-minlength="6"></p>
                <p><button type="submit"  class="btn btn-primary btn-lg normal"
                        ng-disabled="formaRejestracji.login.$error.required ||
                        formaRejestracji.password.$error.required ||
                        formaRejestracji.retypedPassword.$error.required ||
                        formaRejestracji.name.$error.required ||
                        formaRejestracji.surname.$error.required ||
                        formaRejestracji.login.$error.minlength ||
                        formaRejestracji.password.$error.minlength ||
                        formaRejestracji.retypedPassword.$error.minlength ||
                        hasWhiteSpace(formaRejestracji.login) ||
                        hasWhiteSpace(formaRejestracji.password) ||
                        hasWhiteSpace(formaRejestracji.retypedPassword)"
                   >Zarejestruj</button>
                </p>
            </form>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show=is_register_clicked>
                <img ng-src="resources/loading.gif" class="loading">
            </div>
        </div>
    </div>
    <div class="modal-feedback">
        {{feedback}}
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10 col-xs-offset-0 col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">Zamknij</button>
        </div>
    </div>
</div>
