<div class="main">
    <top-nav-bar></top-nav-bar>
	<div class="parallax-image img1">
		<br><latest-events-table ></latest-events-table>
		<div class="title"><h2><b>FerryJerry, Twój Wyszukiwator Sportowy!</b></h2></div>
		<br><br>
	</div>

	
    <md-card>
        <md-content layout-align="center center" layout="column" layout-padding>
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </md-content>
    </md-card>
	<md-card>
        <md-content layout-align="center center" layout="column" layout-padding>
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </md-content>
    </md-card>
	<md-card>
        <md-content layout-align="center center" layout="column" layout-padding>
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </md-content>
    </md-card>
	<md-card>
        <md-content layout-align="center center" layout="column" layout-padding>
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </md-content>
    </md-card>

</div>
