$darker-color: #e6e6e6;

//Screen break points
$md: 960px;
$lg: 1280px;
$xl: 1920px;
$sm: 600px;



#prefooter2{
    .table-title{
		height: 50px;
		font-weight: 30;
		font-size: 20px;
		text-align: center;
  
  
    }
  
  
}