<div id="center_element">

    <div layout="row" class="itemsOverMap">
        <!--MAIN CONTENT-->
        <div flex="grow" layout="column" layout-align="start start">
            <!--MENU-->
            <div id="menuDropdown" class="ui pointing dropdown centerMenu">
                <md-icon class="ui dropdown menuIcon"
                         md-svg-src="resources/icons/menu-button-of-three-lines.svg"></md-icon>
                <div class="menu slidingMenuDropdown">
                    <div class="header optionsHolder">
                        <div layout="row" layout-wrap>
                            <div
                                    flex-xl="33"
                                    flex-lg="33"
                                    flex-md="33"
                                    flex-sm="50"
                                    flex-xs="100"
                                    layout="column"
                                    layout-align="center center"
                                    ng-class="{enabledMenuItem : option.enabled}"
                                    ng-click="(option.onClick) ? option.onClick(option) : false"
                                    ng-repeat="option in centerCtrl.menuOptions" class="menuItem">
                                <md-icon ng-if="option.icon" md-svg-src="resources/icons/{{option.icon}}"></md-icon>
                                <span ng-if="option.description">{{option.description}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item dontDisplay" data-value="female">Female</div>
                </div>
            </div>


            <div ng-if="centerCtrl.menuVisible" class="centerMenuBody">

            </div>
            <!-- SEARCH BOX-->
            <div class="rowContainer">
                <div flex="grow" layout="row">
                    <div class="leftBouncer" flex-sm="10" flex-xs="10"></div>
                    <md-card flex-sm="grow" flex-xs="grow" class="searchBox">
                        <md-card-content layout="column">
                            <md-input-container md-no-float class="md-block">
                                <input ng-model-options="{ updateOn: 'default',debounce:500 }"
                                       ng-model="centerCtrl.queryString"
                                       ng-change="centerCtrl.changeOfQueryString()"
                                       placeholder="Wpisz nazwę miejscowości:"
                                       type="text"/>
                            </md-input-container>
                            <md-list flex>
                                <md-list-item ng-click="centerCtrl.handleResultClick(item)"
                                              ng-repeat="item in centerCtrl.resultList" class="md-3-line"
                                              ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <span>{{ item.description }}</span>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                    <div flex-gt-sm="grow" flex-sm="10" flex-xs="10"></div>
                    <!--<md-icon class="menuBootstraper" md-svg-src="resources/icons/wrench.svg"></md-icon>-->
                </div>
            </div>
            <div flex="grow"></div>
            <!--RESULT PANEL-->
            <div ng-class="{showResult:centerCtrl.resultStatus}" class="resultPanelHolder">
                <div layout="row" layout-align="center" flex="grow">
                    <md-icon ng-click="centerCtrl.switchResults()" ng-class="{filpIcon:!centerCtrl.resultStatus}"
                             class="resultToggleIcon"
                             md-svg-src="resources/icons/down.svg"></md-icon>
                </div>
                <md-content>
                    <result-panel center-controller="centerCtrl"></result-panel>
                </md-content>
            </div>
        </div>
    </div>
    <div class="map"></div>
</div>

