#center_element {
  overflow: hidden;
  height: 100%;

  .map {
    min-height: 400px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
  }
  .itemsOverMap {
    height: 100%;
    z-index: 1;
    position: relative !important;
    pointer-events: none;

  }

  .leftBouncer {
    @media(min-width: $md) {
      padding-left: 140px;
    }
  }

  .searchBox {
    pointer-events: all;
    width: 250px;
    margin: 0px;
    top: 10px;
    left: 10vw;
    @media(max-width: $md) {
      top: 30px;
    }
    md-card-content {
      padding: 0px 20px 0px 20px;
    }
    md-input-container {
      min-width: 210px;
      margin: 5px 0px 5px 0px;
      input {
        border: none;
      }
    }
    md-list {
      padding: 0px !important;
    }
    .md-errors-spacer {
      display: none;
    }
  }
  .resultPanelHolder {
    pointer-events: all;
    width: 100%;
    height: 30vh;
    transition: all 0.2s linear;
    transform: translateY(100%);
    background-color: white;
    border-top: 1px solid gray;
    box-shadow: -2px -3px 8px 1px rgba(0, 0, 0, 0.51);
    position: relative;
    .resultToggleIcon {
      position: absolute;
      z-index: 1;
      left: calc(50% - 22px);
      top: -25px;
      background-color: #FFF;
      border-radius: 50%;
      padding: 7px;
      border-style: double;
      transition: all 0.3s linear;
      cursor: pointer;

      &.filpIcon {
        transform: rotate(180deg);
        top: -100px;
        height: 50px;
        width: 50px;
      }
    }
    md-content {
      height: 100%;
    }
  }

  .dontClickTrough {
    pointer-events: all;
  }
  .showEdit {
    flex-basis: 30%;
    transform: rotateY(0deg);
  }
  .showResult {
    transform: translateY(0%);
  }

  .rowContainer {
    width: 100%;
    position: relative;
    margin-top: 10px;
    @media(max-width: $md) {
      margin-top: 60px;
    }
  }
  .menuBootstraper {
    display: none;
    pointer-events: all;
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 70px;
  }

  .editCloseIcon {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

}

.queryResultsHolder {

  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  md-menu-item {
    background-color: white;
  }
}

#infoBox {
  display: flex;
  flex-direction: column;
  .mainContent {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    .representationSection {
      .date {
        margin-right: 30px;
      }
      .savedUsers {
        margin-top: 5px;
      }
      sport-icons {
        position: relative;
        top: -2px;
      }
      .title {
        font-size: 20px;
        padding-bottom: 8px;
      }
      display: flex;
      flex-direction: column;
    }
    .imageHolder {
      img {
        margin-left: 15px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
      }
    }
  }
  .goButtonHolder {
    display: flex;
    margin-top: 3px;
    margin-bottom: -3px;
    justify-content: center;
    align-items: center;
    .goButton {
      background-color: #4C88F9;
    }
  }
}