#center_element {
  overflow: hidden;
  height: 100%;

  .map {
    min-height: 400px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
  }
  .itemsOverMap {
    height: 100%;
    z-index: 1;
    position: relative !important;
    pointer-events: none;

  }

  .leftBouncer {
    @media(min-width: $md) {
      padding-left: 140px;
    }
  }

  .searchBox {
    pointer-events: all;
    width: 250px;
    margin: 0px;
    top: 10px;
    left: 10vw;
    @media(max-width: $md) {
      top: 30px;
    }
    md-card-content {
      padding: 0px 20px 0px 20px;
    }
    md-input-container {
      min-width: 210px;
      margin: 5px 0px 5px 0px;
      input {
        border: none;
      }
    }
    md-list {
      padding: 0px !important;
    }
    .md-errors-spacer {
      display: none;
    }
  }
  .resultPanelHolder {
    pointer-events: all;
    width: 100%;
    height: 30vh;
    transition: all 0.2s linear;
    transform: translateY(100%);
    background-color: white;
    border-top: 1px solid gray;
    box-shadow: -2px -3px 8px 1px rgba(0, 0, 0, 0.51);
    position: relative;
    .resultToggleIcon {
      position: absolute;
      z-index: 1;
      left: calc(50% - 22px);
      top: -30px;
      background-color: #FFF;
      border-radius: 50%;
      padding: 7px;
      border-style: double;
      transition: all 0.3s linear;
      cursor: pointer;
      height: 40px;
      width: 40px;
      &.filpIcon {
        transform: rotate(180deg);
        top: -100px;
        height: 50px;
        width: 50px;
      }
    }
    md-content {
      height: 100%;
    }
  }

  .dontClickTrough {
    pointer-events: all;
  }
  .showEdit {
    flex-basis: 30%;
    transform: rotateY(0deg);
  }
  .showResult {
    transform: translateY(0%);
  }

  .rowContainer {
    width: 100%;
    position: relative;
    margin-top: 10px;
    @media(max-width: $md) {
      margin-top: 60px;
    }
  }
  .menuBootstraper {
    display: none;
    pointer-events: all;
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 70px;
  }

  .editCloseIcon {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .queryResultsHolder {

    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    md-menu-item {
      background-color: white;
    }
  }
  #infoBoxMainHolder {
    overflow: hidden;
  }
  #infoBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    .mainContent {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      .representationSection {
        .date {
          margin-right: 30px;
        }
        .savedUsers {
          margin-top: 5px;
        }
        sport-icons {
          position: relative;
          top: -2px;
        }
        .title {
          font-size: 20px;
          padding-bottom: 8px;
        }
        display: flex;
        flex-direction: column;
      }
      .imageHolder {
        img {
          margin-left: 15px;
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
      }
    }
    .goButtonHolder {
      display: flex;
      margin-top: 3px;
      margin-bottom: -3px;
      justify-content: center;
      align-items: center;
      .goButton {
        background-color: #4C88F9;
      }
    }
  }

  .centerMenu {
    width: 30px;
    height: 30px;
    position: absolute !important;
    right: 50px !important;
    top: 30px !important;
    pointer-events: all;
    cursor: pointer;

    @media(max-width: $md) {
      left: 30px !important;
      top: 130px !important;

    }
  }

  .optionsHolder {

  }

  .menuItem {
    padding: 10px;
    height: 80px;
    @media(max-width: $md) {
      padding-left: 5px;
      padding-right: 5px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    &.enabledMenuItem {
      background-color: #00D4FF;
    }
    &:hover {
      border-color: #e5e5e5;
    }
    &:active {
      transform: scale(0.9);
    }

  }

  .dontDisplay {
    display: none !important;
  }

  .slidingMenuDropdown {
    left: -390px;
    max-height: 350px;
    width: 300px;
    overflow: auto;
    @media(max-width: $md) {
      left: 0px !important;
    }
    @media(max-width: 340px) {
      height: 250px;
      width: 100%;
      .userInfoBox {
        width: 260px;
        img {
          width: 75px;
        }
      }
    }
    .userInfoBox {
      background-image: url("http://ug.edu.pl/sites/default/files/_nodes/strona/34170/images/shutterstock_142247851mini.jpg");
      background-size: cover;
      background-position-x: center;
      display: flex;
      text-align: right;
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
      padding: 15px;
      margin-bottom: 15px;
      justify-content: space-between;
      .imageHolder {
        flex-basis: 35%;
        img {
          cursor: pointer;
          width: 100%;
          height: auto;
        }
      }
      .infoHolder {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        .userName {
          text-transform: capitalize;
          font-size: 26px;
          font-weight: initial;
        }
        .userMail {
          text-transform: lowercase;
        }
      }
    }
  }

  .menuIcon {
    width: 100%;
    height: 100%;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
  }

  .centerMenuBody {
    position: absolute;

  }
}