#home {
	padding-top: 20px;
	#query-table{
		.query-table-card{
			height: 350px;
			margin-left: 5px;
			margin-right: 5px;
		}
	
		.overflow-hidden{overflow-x: hidden;}
		.table-content{
			height: 350px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	
	.cogs-image{
		height: 150px;
		width: 150px;
	}
	.cogs-image-padding  {padding-top: 5px}
	.links-padding  {padding-top: 10px;}
	.no-overflow  {overflow: hidden;}
}
