#home {
	padding-top: 20px;
	
	#query-table{
		.query-table-card{
			height: 350px;
			margin-left: 5px;
			margin-right: 5px;
		}
	
		.overflow-hidden{
			overflow-x: hidden;
			.align-text-center  {text-align: center;}
			.no-margin-bottom  {margin-bottom: 0px;}
			.date-picker-height  {height: 80px;}
			.md-datepicker-input-container{
				margin-left: 0px;
				max-width: 84px;
			}
			button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple{
				margin-left: 0px;
				margin-right: 0px;
			}
			.select-input-padding{
				padding-right: 15px;
				margin-top: 0px;
			}
		}
		
		.table-content{
			height: 350px;
			margin-left: 5px;
			margin-right: 5px;
		}
			
	
	
	}
	
	.cogs-image{
		height: 150px;
		width: 150px;
	}
	.table-header{
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		height: 35px;
		overflow: hidden;
	}
	.cogs-image-padding  {padding-top: 5px}
	.links-padding  {padding-top: 10px;}
	.no-overflow  {overflow: hidden;}
}
