/**
 * Created by Tome on 01/05/16.
 */
#upload-modal {

  min-width: 300px;
  md-input-container {
    margin: 10px 10px 0px 10px;
    &:first-child {
      margin-top: 30px;
    }
  }
  .cropArea {
    margin: auto;
    overflow: hidden;
    width: 100px;
    height: 100px;
	padding-bottom: 20px;
  }
  /* line 1, ../../source/scss/ng-img-crop.scss */
  img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  /* line 7, ../../source/scss/ng-img-crop.scss */
  img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
  }
}

