<div id="event-basic-info">
    <inline layout="row" layout-align="center center" class="event-basic-intro" flex="100">
        <md-button aria-label="refresh-button" class="refresh-button" ng-click="eventBasicInfoCtrl.refresh()"
                   ng-if="!eventBasicInfoCtrl.editMode">
            <md-icon md-svg-src="resources/refresh.svg" class="svg-submissive refresh-icon"></md-icon>
        </md-button>
        Informacje o wydarzeniu:
    </inline>
    <div layout="column" layout-gt-sm="row" flex="100">
        <div layout="column" flex="50">
            <div layout="column" layout-gt-xs="row" layout-align-sm="center center" layout-align-xs="center center"
                 flex="100">
                <div layout="column" flex="50">
                    <div>
                        <inline flex="100">
                            <inline class="bigger-font">Autor:</inline>
                            <md-button class="no-text-transformation" ng-click="eventBasicInfoCtrl.goToUserProfile()"
                                       ng-if="!eventBasicInfoCtrl.editMode">{{eventBasicInfoCtrl.eventInfo.author}}
                            </md-button>
                        </inline>
                        <div class="text-padding" flex="100">
                            <inline class="bigger-font">Data utworzenia:</inline>
                            {{eventBasicInfoCtrl.eventCreatedDate}}
                        </div>
                        <div class="text-padding" flex="100">
                            <inline class="bigger-font">Data wydarzenia:</inline>
                            {{eventBasicInfoCtrl.eventDate}}
                        </div>
                        <div class="text-padding" flex="100">
                            <inline class="bigger-font">Zapełnienie:</inline>
                            <inline ng-if="!eventBasicInfoCtrl.editMode">{{eventBasicInfoCtrl.getParticipantsCount()}}</inline>
                            <inline class="ui input" ng-if="eventBasicInfoCtrl.editMode">
                                {{eventBasicInfoCtrl.eventInfo.participants.length}}/
                                <input class="limit-input" ng-model="eventBasicInfoCtrl.eventInfoEdit.eventInfo.usersLimit" type="number">
                            </inline>
                        </div>
                    </div>
                </div>
                <div layout="column" flex="50">
                    <div>
                        <div class="text-padding" flex="100">
                            <inline class="bigger-font">Kategoria:</inline>
                            {{eventBasicInfoCtrl.getCategory()}}
                        </div>
                        <div class="text-padding" flex="100">
                            <inline class="bigger-font">Składka:</inline>
                            <inline ng-if="!eventBasicInfoCtrl.editMode">{{eventBasicInfoCtrl.getPayment()}}</inline>
                            <inline class="ui right labeled input" ng-if="eventBasicInfoCtrl.editMode">
                                <input ng-model="eventBasicInfoCtrl.eventInfoEdit.eventInfo.payment" type="number" class="payment-input">
                                <div class="ui basic label">zł</div>
                            </inline>
                        </div>
                        <div class="text-padding" flex="100">
                            <inline class="bigger-font">Wymóg własnego sprzętu:</inline>
                            <inline ng-if="!eventBasicInfoCtrl.editMode">{{eventBasicInfoCtrl.getOwnEquipment()}}</inline>
                            <md-checkbox ng-if="eventBasicInfoCtrl.editMode" ng-model="eventBasicInfoCtrl.eventInfoEdit.eventInfo.ownEquipment"></md-checkbox>
                        </div>
                        <div class="text-padding">
                            <inline flex="100">
                                <inline class="bigger-font">Stopień zaawansowania:</inline>
                                <inline class="text-padding">
                                    <div id="experienceRating" class="ui star rating" ></div>
                                </inline>

                                <md-tooltip class="experience-tooltip" ng-if="eventBasicInfoCtrl.getExperience() == 0"
                                            md-direction="top">
                                    <div class="tooltip-container">
                                        Nie wymagane jest żadne doświadczenie<br>
                                        Każdy użytkownik może dołączyć.<br><br>

                                        W końcu najważniejsza jest dobra zabawa<br>
                                        oraz poznawanie nowych dziedzin sportu!
                                    </div>
                                </md-tooltip>
                                <md-tooltip class="experience-tooltip" ng-if="eventBasicInfoCtrl.getExperience() == 1"
                                            md-direction="top">
                                    <div class="tooltip-container">
                                        Po uczestnikach oczekuje się przynajmniej znajomości<br>
                                        dziedziny sportowej.<br><br>

                                        Niekoniecznie potrzebna jest dobra technika<br>
                                        Wystarczy wiedzieć czym się gra.
                                    </div>
                                </md-tooltip>
                                <md-tooltip class="experience-tooltip" ng-if="eventBasicInfoCtrl.getExperience() == 2"
                                            md-direction="top">
                                    <div class="tooltip-container">
                                        Po uczestnikach oczekuje się znajomości sportu.<br><br>

                                        Przyda się do tego jakaś technika i zainteresowanie sportem.<br>
                                        Nie trzeba być dobrym, wystarczą chęci do nauki.
                                    </div>
                                </md-tooltip>
                                <md-tooltip class="experience-tooltip" ng-if="eventBasicInfoCtrl.getExperience() == 3"
                                            md-direction="top">
                                    <div class="tooltip-container">
                                        Dla średnio-zaawansowanych użytkowników.<br><br>

                                        Trzeba się wykazać zainteresowaniem sportem<br>
                                        Oraz sensowną techniką.
                                    </div>
                                </md-tooltip>
                                <md-tooltip class="experience-tooltip" ng-if="eventBasicInfoCtrl.getExperience() == 4"
                                            md-direction="top">
                                    <div class="tooltip-container">
                                        Dla zaawansowanych użytkowników.<br><br>

                                        Poszukiwani są użytkownicy, którzy znają się na rzeczy<br>
                                        W celu znalezienia ekipy która zniszczy wszystkie inne!
                                    </div>
                                </md-tooltip>

                                <md-tooltip class="experience-tooltip" ng-if="eventBasicInfoCtrl.getExperience() == 5"
                                            md-direction="top">
                                    <div class="tooltip-container">
                                        Dla bardzo dobrych użytkowników<br><br>

                                        Poszukiwani są użytkownicy, którzy bardzo dobrze znają się na rzeczy<br>
                                        Być może chodzi o zespół na jakieś zawody
                                    </div>
                                </md-tooltip>
                            </inline>
                        </div>
                    </div>
                    <span flex></span>
                </div>
            </div>
            <div layout="column" layout-align="center" class="event-active-container">
                <div class="text-padding" ng-if="eventBasicInfoCtrl.isActive" flex="100">
                    <div layout="column" layout-align="center center">
                        <div class="is-active-text green-text">Wydarzenie jest aktywne</div>
                        <div ng-if="eventBasicInfoCtrl.checkRights()">
                            <md-button ng-if="eventBasicInfoCtrl.getProperButton() == 'join'"
                                       ng-click="eventBasicInfoCtrl.joinEvent()"
                                       class="md-raised no-text-transformation">Dołącz
                            </md-button>
                            <md-button ng-if="eventBasicInfoCtrl.getProperButton() == 'disabled'"
                                       ng-disabled="true" class="md-raised no-text-transformation">Przepełniony
                            </md-button>
                            <md-button ng-if="eventBasicInfoCtrl.getProperButton() == 'already'"
                                       ng-click="eventBasicInfoCtrl.joinEvent()"
                                       ng-disabled="true"
                                       class="md-raised no-text-transformation hope-button">Jesteś już uczestnikiem
                            </md-button>
                            <md-button ng-if="eventBasicInfoCtrl.getProperButton() == 'leave'"
                                       ng-click="eventBasicInfoCtrl.leaveEvent()"
                                       class="md-raised no-text-transformation leave-button">Opuść wydarzenie
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="text-padding event-active-container" ng-if="!eventBasicInfoCtrl.isActive" flex="100">
                    <div layout="column" layout-align="center center">
                        <div class="is-active-text">Wydarzenie zakończone</div>
                    </div>
                </div>
                <div layout="row" layout-align="center center" flex="100" ng-if="eventBasicInfoCtrl.isActive">
                    <md-button ng-if="eventBasicInfoCtrl.isOwnPage() && !eventBasicInfoCtrl.editMode"
                               ng-click="eventBasicInfoCtrl.enterEditMode()"
                               class="md-raised no-text-transformation">Edytuj
                    </md-button>
                    <div layout="row" layout-align="center center">
                        <md-button flex="50" ng-if="eventBasicInfoCtrl.isOwnPage() && eventBasicInfoCtrl.editMode"
                                   ng-click="eventBasicInfoCtrl.closeEditMode(true)"
                                   class="md-raised no-text-transformation">Zapisz
                        </md-button>
                        <md-button flex="50" ng-if="eventBasicInfoCtrl.isOwnPage() && eventBasicInfoCtrl.editMode"
                                   ng-click="eventBasicInfoCtrl.closeEditMode(false)"
                                   class="md-raised no-text-transformation">Anuluj
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="center center" flex="50">
            <div class="small-border"></div>
            <div flex="100" class="max-width">
                <div class="event-title" layout="row" flex="100">
                    <inline class="bigger-font small-margin-top" flex="20">Tytuł wydarzenia:</inline>
                    <inline flex="70" class="small-margin-top" ng-if="!eventBasicInfoCtrl.editMode">{{eventBasicInfoCtrl.eventInfo.eventInfo.title}}</inline>
                    <inline flex="70" class="smaller-margin-top ui input" ng-if="eventBasicInfoCtrl.editMode">
                        <input ng-model="eventBasicInfoCtrl.eventInfoEdit.eventInfo.title" type="text">
                    <inline flex="70" class="small-margin-top" ng-if="!eventBasicInfoCtrl.editMode">
                        {{eventBasicInfoCtrl.eventInfo.eventInfo.title}}
                    </inline>
                    <inline flex="10">
                        <md-icon ng-if="!eventBasicInfoCtrl.editMode"
                                 md-svg-src="{{eventBasicInfoCtrl.eventInfo.eventIcon}}"
                                 class="svg-submissive event-icon"></md-icon>
                        <md-button aria-label="change-icon-button" class="change-icon-button"
                                   ng-if="eventBasicInfoCtrl.editMode"
                                   ng-click="eventBasicInfoCtrl.toggleWasIconButtonClicked(true)">
                            <md-icon md-svg-src="{{eventBasicInfoCtrl.eventInfoEdit.eventIcon}}"
                                     class="svg-submissive event-icon-edit"></md-icon>
                        </md-button>
                        <md-tooltip click-outside="eventBasicInfoCtrl.toggleWasIconButtonClicked(false)"
                                    outside-if-not="icons-tooltip" class="icons-tooltip"
                                    ng-if="eventBasicInfoCtrl.editMode && eventBasicInfoCtrl.wasIconButtonClicked"
                                    md-visible="eventBasicInfoCtrl.wasIconButtonClicked" md-direction="bottom">
                            <div class="tooltip-container">
                                <md-grid-list md-cols="3" md-row-height="32px" md-gutter="10px">
                                    <md-grid-tile ng-repeat="icon in eventBasicInfoCtrl.iconList.iconList"
                                                  md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
                                        <md-content class="transparent-background tile-content">
                                            <md-button aria-label="icon-button" class="iconList-button"
                                                       ng-click="eventBasicInfoCtrl.setIcon(icon.url)">
                                                <md-icon md-svg-src="{{icon.url}}"
                                                         class="svg-submissive event-icon"></md-icon>
                                            </md-button>
                                        </md-content>
                                    </md-grid-tile>
                                </md-grid-list>
                            </div>
                        </md-tooltip>
                    </inline>
                </div>
                <div class="bigger-font small-padding-left">Opis wydarzenia:</div>


                <md-input-container ng-if="!eventBasicInfoCtrl.editMode" class="description-container" layout="row"
                                    layout-align="center center">
                    <textarea aria-label="event-description" class="event-description" ng-readonly="true"
                              ng-model="eventBasicInfoCtrl.eventInfo.eventInfo.description" md-maxlength="1000"
                              rows="10" md-select-on-focus title=""></textarea>
                </md-input-container>
                <md-input-container ng-if="eventBasicInfoCtrl.editMode" class="darker-description-container"
                                    layout="row" layout-align="center center">
                    <textarea aria-label="event-description" class="event-description" ng-readonly="false"
                              ng-model="eventBasicInfoCtrl.eventInfoEdit.eventInfo.description" md-maxlength="1000"
                              rows="10" md-select-on-focus title=""></textarea>
                    <div class="edit-info-text" ng-if="eventBasicInfoCtrl.editMode">Tryb edycji</div>
                </md-input-container>


            </div>
        </div>
    </div>
</div>