<div id="event-basic-info">
    <div class="event-basic-intro">Podstawowe informacje o wydarzeniu:</div>
    <div layout="row">
        <div layout="column" flex="25">
            <inline flex="100">
                Autor:
                <md-button class="no-text-transformation">{{eventBasicInfoCtrl.eventInfo.author}}</md-button>
            </inline>
            <div flex="100">Data utworzenia: {{eventBasicInfoCtrl.eventCreatedDate}}</div>
            <div flex="100">Data wydarzenia: {{eventBasicInfoCtrl.eventDate}}</div>
            <div ng-if="eventBasicInfoCtrl.isActive" flex="100">Wydarzenie jest aktywne</div>
            <div ng-if="!eventBasicInfoCtrl.isActive" flex="100">Wydarzenie zakończone</div>
        </div>
        <div layout="column" flex="25">
            <div flex="100">Kategoria: {{eventBasicInfoCtrl.getCategory()}}</div>
            <div flex="100">Składka: {{eventBasicInfoCtrl.getPayment()}}</div>
            <div flex="100">Wymóg własnego sprzętu: {{eventBasicInfoCtrl.getOwnEquipment()}}</div>
            <inline flex="100">Stopień zaawansowania:
                <md-icon ng-repeat="i in eventBasicInfoCtrl.getNumber(eventBasicInfoCtrl.eventInfo.experience)" md-svg-src="resources/gold-star.svg" class="svg-submissive icon"></md-icon>
                <md-icon ng-repeat="i in eventBasicInfoCtrl.getNumber(5 - eventBasicInfoCtrl.eventInfo.experience)" md-svg-src="resources/white-star.svg" class="svg-submissive icon"></md-icon>
            </inline>
        </div>
        <div layout="column" layout-align="center center" flex="50">
            <div flex="100">1</div>
            <div flex="100">1</div>
            <div flex="100">1</div>
            <div flex="100">1</div>
        </div>
    </div>
</div>