md-tooltip.experience-tooltip {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    .md-background {
        border-radius: inherit;
    }
    .md-content {
        min-height: 50px;
        height: auto;
        max-height: none;
        font-size: 14px;
        width: auto;
        max-width: none;
        padding: 0;
        white-space: initial;
    }
    .tooltip-container{
        margin: 10px;
    }
}

md-tooltip.icons-tooltip {
  .transparent-background  {background-color: transparent;  }
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .md-background {
    border-radius: inherit;
  }
  .md-content {
    min-height: 50px;
    height: auto;
    max-height: none;
    font-size: 14px;
    width: 170px;
    max-width: none;
    padding: 0;
    white-space: initial;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .tooltip-container{
    margin: 10px;
  }
  .tile-content{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .iconList-button{
    height: 32px;
    width: auto;
    min-width: 32px;
    padding: 0;
    margin: 0;
  }
  .event-icon{
    width:  32px;
    height: 32px;
  }
}




#event-basic-info{

  .bigger-font{
    font-weight: bold;
    font-size: 16px;
  }
  .event-basic-intro{
      text-align: center;
      margin-bottom: 15px;
      margin-top: 5px;
      font-size: 26px;
      font-weight: bold;
      .refresh-button{
          height: 30px;
          width: auto;
          min-width: 30px;
          padding: 0;
          margin: 0;
          .refresh-icon{
              width: 26px;
              height: 26px;
          }
      }
  }
  .text-padding  {padding-top: 10px;}
  .no-overflow  {overflow: hidden;}
  .max-width  {width: 100%;}
  .small-margin-top  {margin-top: 15px;}
  .event-active-container  {bottom: 0;}
  .green-text  {color: rgb(68, 204, 0);}


  .icon{
      width: 16px;
      height: 16px;
  }

  .icon-black{
      width: 14px;
      height: 14px;
      padding-right: 2px;
  }

  .event-icon{
      width:  32px;
      height: 32px;
      margin-bottom: 5px;
  }
  .event-icon-edit{
    width:  32px;
    height: 32px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.05);
  }


  .description-container{
      background-color: #ccffff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
  }
  .darker-description-container{
    background-color: #cccccc;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }


  .is-active-text{
      font-weight: bold;
      font-size: 18px;
  }

  .change-icon-button{
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 0;
    margin: 0;
  }

  .hope-button{
      background-color: greenyellow;
      color: black !important;
  }
  .leave-button  {
      background-color: #953b39;
      color: white !important;
  }
  .event-description{
      padding-top: 10px;
      min-height: 200px;
  }
  .event-title{
      text-align: center;
      border-bottom: groove rgba(230, 230, 230, 0.5);
  }
  md-input-container{
      .md-errors-spacer  {display: none;}
  }
  .small-padding-left{
      margin-left: 5px;
      margin-top: 10px;
  }


  @media screen and (min-width: 960px) {
      .event-active-container{
          position: relative;
          bottom: 40px;
      }
  }

  .small-border{
      border-top: 2px groove rgb(166, 166, 166);
      width: 40%;
      height: 10px;
      margin-top: 10px;
      display: inherit;
  }
  @media screen and (min-width: 960px) {
      .small-border{
          border-top: 2px groove rgb(166, 166, 166);
          width: 40%;
          height: 10px;
          margin-top: 10px;
          display: none;
      }
  }


  .edit-info-text{
      right: 3px;
      bottom: 3px;
      color: rgba(0, 0, 0, 0.2);
      position: absolute;
      font-size: 18px;
  }

}