#account {

  $profileHeight: 200px;
  $avatarWidth: 132px;

    
  .topAccountHeader {
    $borderRadius: 24px;
    width: 100%;
    background: rgba(0, 0, 0, 0.63) 50% 20% no-repeat fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.63);
    background-size: cover;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    height: $profileHeight;
    .profileImgHolder {
      position: relative;
      float: right;
      margin-right: -15px;
      top: 70%;
      .profileImg {
        height: $avatarWidth;
        width: $avatarWidth;
        box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.75);
        padding: 5px;
        background-color: white;
        border: 1px solid #B3B3B3;

      }
	  .user-name-container{
        position: absolute;
		top: 60%;
        float: left;
		margin-left: -10px;
		font-weight: 800;
		.smaller-top-margin  {margin-top: 2px;}
        .user-name{
            //settings responsible for scaling of the username to the left instead of right
            position: absolute;
            right: 0;
            width: 50vw;  //this ensures the element will be in one line for as long as possible
            text-align: right;
            //
        }
	  }
    }
  }
  .informationHolder {
    margin-top: 50px;
  }

  .small-border{
    border-top: 2px groove rgb(166, 166, 166);
    width: 40%;
    height: 10px;
    margin-top: 40px;
    left: 30%;
    top: 50%;
    position: relative;
  }

  md-tab-item{
    text-transform: none;
  }


    //responsible for making avatar and profile holder smaller
    @media screen and (max-width: 500px) {
        $profileHeight: 100px;
        $avatarWidth: 100px;
        .topAccountHeader {
            height: $profileHeight;
            .profileImgHolder {
                .profileImg {
                    height: $avatarWidth;
                    width: $avatarWidth;
                }
                .user-name-container  {top: 40%;}
            }
        }
    }

    //it's just for 340-320, because the scaling overlaps the screen, we need to move some element a bit to the left
    @media screen and (max-width: 340px) {
        .topAccountHeader {
            .profileImgHolder {
                .profileImg  {margin-right: 20px;}
            }
        }
    }

}