#account {

  $profileHeight: 220px;
  .topAccountHeader {
    $borderRadius: 24px;
    background-color: rgba(0, 0, 0, 0.63);
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    .profileImgHolder {
      left: calc(#{$profileHeight/2});
      position: relative;
      top: calc(#{$profileHeight/2});
      .profileImg {
        box-shadow: 8px 8px 15px -2px rgba(0,0,0,0.75);
        transform: rotate(5deg);
        border-radius: 50%;
        max-height: $profileHeight;
        padding: 5px;
        background-color: white;
        border: 1px solid #B3B3B3;
      }
    }
  }
  .informationHolder {
    margin-top: calc(#{$profileHeight/2} + 20px);
  }

}