
footer {
  $background-color:#374567;
  $text-color:#E5ECF4;
  .footerWrapper {
    height: 100%;
    div{
      width: 100%;
      font-family: 'Lato', sans-serif;
      span{
        //padding-left: 15px;
        //padding-right: 15px;
      }
    }
  }
  background-color: $background-color;
  color:$text-color;
  height: 80px;
}