<div layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools no-padding-right">
            <span>My App's Title</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button ng-click="topNavBarCtrl.openLoginRegister()" class="login-register-button">
                Logowanie/Rejestracja
            </md-button>
            <md-menu md-position-mode="target-right target" md-offset="0 55" class="navigation-menu">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-src="resources/stack.svg"></md-icon>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item ng-repeat="item in topNavBarCtrl.options">
                        <md-button ng-click="item.click()">
                            <div layout="row" layout-align="center center" class="menu-list-item">
                                {{item.placeholder}}
                                <!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content>
        Hello!
    </md-content>
</div>