<div id="events">
    <md-card>
        <md-card-content layout="column">
            <button ng-click="eventCtrl.test()">Add</button>
            <!--<button ng-click="eventCtrl.test()">Edit</button>-->
            <!--<button ng-click="eventCtrl.test()">Search</button>-->
            <div layout="column" layout-align="center center" class="testHolder"
                 ng-class="{switchToEdit:eventCtrl.state === 'add'}">
                <div flex="100" class="test firstPage">
                </div>
                <div flex="100" class="test secondPage">
                </div>
                <div class="platform"></div>
            </div>
        </md-card-content>
    </md-card>
</div>
