#events {
  background-color: green;
  md-card-content {
    height: 90vh;
  }
  .test {
    width: 100%;
    height: 100%;
  }
  .switchToEdit {
    transform: rotateY(90deg) !important;
  }
  .switchToSearch {
    transform: rotateY(180deg) !important;
  }
  .rotateHolder {

    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    height: 100%;
  }

  .addPage {
    height: 100%;
    background: url("../resources/3d/1.jpg");
  }
  .editPage {
    position: absolute;
    top: 0px;
    width: 100%;
    right: -100%;
    background: url("../resources/3d/2.jpg");
    background-color: #00F;
    transform: rotateY(-90deg);
  }
  .searchPage {
    position: absolute;
    top: 0px;
    width: 100%;
    background: url("../resources/3d/3.jpg");
    background-color: #00F;
    transform: rotateY(180deg) translateZ(10px);
  }
}