#events {
  background-color: green;
  md-card-content {
    height: 90vh;
  }
  .test {
    width: 100%;
    height: 100%;
  }
  .switchToEdit {
    transform-origin: left !important;
    transform: rotateY(-90deg) !important;
  }
  .switchToSearch {
    transform-origin: top !important;
    transform: rotateX(90deg) !important;
  }
  .testHolder {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    height: 100%;
    //perspective: 300px;
    //transform: rotateZ(10deg) rotateY(-67deg) rotateX(10deg) translateX(-1180px) translateY(-230px) !important;
  }
  .center {
    background-color: red;
    width: 10px;
    height: 10px;
    //transform-origin: 50% 50%;
  }
  .firstPage {
    background-color: red;
    background: url("../resources/3d/1.jpg");
  }
  .platform {
    transform: translateY(500px);
    background-color: black;
    width: 1000px;
    height: 1000px;
  }
  .secondPage {
    position: absolute;
    top: 0px;
    width: 100%;
    right: -100%;
    background: url("../resources/3d/2.jpg");
    background-color: #00F;
    transform: rotateY(90deg) translateX(50%) translateZ(-921px);
  }
  .thirdPage {
    position: absolute;
    top: 0px;
    width: 100%;
    background: url("../resources/3d/3.jpg");
    background-color: #00F;
    transform: rotateX(-90deg) translateZ(270px) translateY(50%);
  }
}