#events {
    .map {
        height: 250px;
        width: 100%;
    }
    .full{
        height: auto;
        width: 100%
    }

    .padding{
        padding-left: 10px;
    }
    .small-border{
        border-top: 2px groove rgb(166, 166, 166);
        width: 40%;
        height: 10px;
        margin-top: 10px;
    }

    .background-pattern{
        background-size: cover;
        background: url("/resources/miscellaneous/dark_embroidery.png") repeat center;
        -webkit-box-shadow: inset 10px 10px 39px -1px rgba(0,0,0,0.79);
        -moz-box-shadow: inset 10px 10px 39px -1px rgba(0,0,0,0.79);
        box-shadow: inset 10px 10px 39px -1px rgba(0,0,0,0.79);
    }
}