<div id="events">
    <md-card>
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <button ng-click="eventCtrl.toAdd()">Add</button>
                <button ng-click="eventCtrl.toEdit()">Edit</button>
                <button ng-click="eventCtrl.toSearch()">Search</button>
            </div>
            <div layout="column" layout-align="center center" class="rotateHolder"
                 ng-class="{
                 switchToEdit:eventCtrl.state === 'edit',
                 switchToSearch:eventCtrl.state === 'search'
                 }">

                <div flex="100" class="test addPage">
                    <event-add></event-add>
                </div>
                <div flex="100" class="test editPage">
                    <event-edit></event-edit>
                </div>
                <div flex="100" class="test searchPage">
                    <event-search></event-search>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
