/**
 * Created by danielslaby on 14/03/16.
 */

#login-modal {

  $selectedTabUnderscoreColor: gray;
  $selectedTabTextColor: black;
  min-width: 300px;
  md-tabs {

    md-tab-item {
      &.md-active {
        color: $selectedTabTextColor !important;
      }
    }
    md-ink-bar {
      background-color: $selectedTabUnderscoreColor;
    }
    md-input-container {
      margin: 10px 10px 0px 10px;
      &:first-child {
        margin-top: 30px;
      }
    }
  }
}