<div id="login">
    <div>
        <form layout="column" class="login-holder">
            <div class="black-layer">
            </div>
            <div class="login-header">
                <img class="logo" ng-src="resources/logo/logo_white.png">
            </div>
            <div class="login-inputs ">
                <div class="ui form">
                    <div class="field">
                        <input id="loginField" ng-model="loginCtrl.userLogin.login" placeholder="Login" type="text" autocomplete="off">
                    </div>
                    <div class="field">
                        <input ng-model="loginCtrl.userLogin.password" placeholder="Hasło" type="password"
                               autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="login-buttons" layout="row" layout-align="center">
                <button ng-click="loginCtrl.login()" type="submit" class="ui loginButton submit button">Zaloguj</button>
            </div>
            <div class=login-functional>
                <a class="forgotPassword">Zapomniałem Hasła</a>
            </div>
            <div class="login-register">
                <div class="noAccountMsg"><span>Nie masz konta?</span></div>
                <div flex="grow"></div>
                <button ng-click="loginCtrl.goToRegister()" class="ui primary button registerButton">Załóż konto
                </button>
            </div>
        </form>
    </div>
</div>