<md-dialog id="login-modal" flex="70">
    <md-dialog-content>
        <div ng-cloak>
            <md-content>
                <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                    <md-tab label="Logowanie">
                        <md-content class="md-padding">
                            <form layout="column" novalidate name="loginModalCtrl.loginForm"
                                  ng-submit="loginModalCtrl.login()">
                                <md-input-container>
                                    <input type="text" required ng-model="loginModalCtrl.userLogin.login"
                                           name="login" placeholder="Login" type="text">
                                    <div ng-messages="loginModalCtrl.loginForm.login.$error"
                                         ng-if="loginModalCtrl.loginForm.login.$invalid && loginModalCtrl.loginForm.login.$touched">
                                        <div ng-message="required">Login jest wymagany.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <input type="password" required ng-model="loginModalCtrl.userLogin.password"
                                           name="password" placeholder="Hasło" type="password"/>
                                    <div ng-messages="loginModalCtrl.loginForm.password.$error"
                                         ng-if="loginModalCtrl.loginForm.password.$invalid && loginModalCtrl.loginForm.password.$touched">
                                        <div ng-message="required">Hasło jest wymagane.</div>
                                    </div>
                                </md-input-container>

                                <div layout-xs="column" layout-sm="column" layout-gt-sm="row"
                                     layout-align-gt-sm="center center"
                                     layout-align-sm="space-around stretch" layout-align-xs="space-around stretch">
                                    <md-button type="submit" class="md-raised" flex-xs="50" flex-sm="50"
                                               flex-gt-sm="20" ng-disabled="loginModalCtrl.loginForm.$invalid">Loguj
                                    </md-button>
                                    <md-button ng-click="loginModalCtrl.closeModal()" class="md-raised" flex-xs="50"
                                               flex-sm="50" flex-gt-sm="20">Zamknij
                                    </md-button>
                                </div>

                            </form>
                        </md-content>
                    </md-tab>
                    <md-tab label="Rejestracja">
                        <md-content class="md-padding">
                            <form layout="column" novalidate name="loginModalCtrl.registerForm"
                                  ng-submit="loginModalCtrl.register()">
                                <md-input-container>
                                    <input type="text" required ng-model="loginModalCtrl.userRegister.login"
                                           name="login" placeholder="Login" type="text">
                                    <div ng-messages="loginModalCtrl.registerForm.login.$error"
                                         ng-if="loginModalCtrl.registerForm.login.$invalid && loginModalCtrl.registerForm.login.$touched">
                                        <div ng-message="required">Login jest wymagany.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <input type="password" required ng-model="loginModalCtrl.userRegister.password"
                                           name="password" placeholder="Hasło" type="password"/>
                                    <div ng-messages="loginModalCtrl.registerForm.password.$error"
                                         ng-if="loginModalCtrl.registerForm.password.$invalid && loginModalCtrl.registerForm.password.$touched">
                                        <div ng-message="required">Hasło jest wymagane.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container>
                                    <input type="password" required
                                           ng-model="loginModalCtrl.userRegister.retypedPassword"
                                           name="retypedPassword" placeholder="Powtórz hasło" type="password"
                                           retyped-password-validator
                                           ng-model-options="{ updateOn: 'blur' }"/>
                                    <div ng-messages="loginModalCtrl.registerForm.retypedPassword.$error"
                                         ng-if="loginModalCtrl.registerForm.retypedPassword.$invalid && loginModalCtrl.registerForm.retypedPassword.$touched">
                                        <div ng-message="required">Powtórzenie hasła jest wymagane.</div>
                                        <div ng-message="notMatchingPassword">Hasła nie są zgodne</div>
                                    </div>
                                </md-input-container>
                                <div layout-xs="column" layout-sm="column" layout-gt-sm="row"
                                     layout-align-gt-sm="center center"
                                     layout-align-sm="space-around stretch" layout-align-xs="space-around stretch">
                                    <md-button type="submit" class="md-raised" flex-xs="50" flex-sm="50"
                                               flex-gt-sm="20" ng-disabled="loginModalCtrl.registerForm.$invalid">
                                        Zarejestruj
                                    </md-button>
                                    <md-button ng-click="loginModalCtrl.closeModal()" class="md-raised" flex-xs="50"
                                               flex-sm="50" flex-gt-sm="20">Zamknij
                                    </md-button>
                                </div>
                            </form>
                        </md-content>
                    </md-tab>

                </md-tabs>

            </md-content>
        </div>
    </md-dialog-content>
</md-dialog>